# Initializing Data

The goal is to merge 3 CitibikeNYC datasets into one so it can be loaded into Tableau.

In [1]:
#dependencies
import pandas as pd

In [2]:
#files to load
Jan2019_df = pd.read_csv('./data/201901-citibike-tripdata.csv')
Feb2019_df = pd.read_csv('./data/201902-citibike-tripdata.csv')
Mar2019_df = pd.read_csv('./data/201903-citibike-tripdata.csv')
Jan2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [3]:
Feb2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [4]:
Mar2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1

In [5]:
Jan2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967287 entries, 0 to 967286
Data columns (total 15 columns):
tripduration               967287 non-null int64
starttime                  967287 non-null object
stoptime                   967287 non-null object
start station id           967269 non-null float64
start station name         967269 non-null object
start station latitude     967287 non-null float64
start station longitude    967287 non-null float64
end station id             967269 non-null float64
end station name           967269 non-null object
end station latitude       967287 non-null float64
end station longitude      967287 non-null float64
bikeid                     967287 non-null int64
usertype                   967287 non-null object
birth year                 967287 non-null int64
gender                     967287 non-null int64
dtypes: float64(6), int64(4), object(5)
memory usage: 110.7+ MB

In [6]:
Feb2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943744 entries, 0 to 943743
Data columns (total 15 columns):
tripduration               943744 non-null int64
starttime                  943744 non-null object
stoptime                   943744 non-null object
start station id           943735 non-null float64
start station name         943735 non-null object
start station latitude     943744 non-null float64
start station longitude    943744 non-null float64
end station id             943735 non-null float64
end station name           943735 non-null object
end station latitude       943744 non-null float64
end station longitude      943744 non-null float64
bikeid                     943744 non-null int64
usertype                   943744 non-null object
birth year                 943744 non-null int64
gender                     943744 non-null int64
dtypes: float64(6), int64(4), object(5)
memory usage: 108.0+ MB

In [7]:
Mar2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1327960 entries, 0 to 1327959
Data columns (total 15 columns):
tripduration               1327960 non-null int64
starttime                  1327960 non-null object
stoptime                   1327960 non-null object
start station id           1327950 non-null float64
start station name         1327950 non-null object
start station latitude     1327960 non-null float64
start station longitude    1327960 non-null float64
end station id             1327950 non-null float64
end station name           1327950 non-null object
end station latitude       1327960 non-null float64
end station longitude      1327960 non-null float64
bikeid                     1327960 non-null int64
usertype                   1327960 non-null object
birth year                 1327960 non-null int64
gender                     1327960 non-null int64
dtypes: float64(6), int64(4), object(5)
memory usage: 152.0+ MB

In [8]:
df = Feb2019_df.append(Jan2019_df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1911031 entries, 0 to 967286
Data columns (total 15 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
dtypes: float64(6), int64(4), object(5)
memory usage: 233.3+ MB

In [9]:
Q1_2019_df = df.append(Mar2019_df)
Q1_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3238991 entries, 0 to 1327959
Data columns (total 15 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
dtypes: float64(6), int64(4), object(5)
memory usage: 395.4+ MB

In [10]:
Q1_2019_df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,3.238991e+06,3.238954e+06,3.238991e+06,3.238991e+06,3.238954e+06,3.238991e+06,3.238991e+06,3.238991e+06,3.238991e+06,3.238991e+06
mean,8.280649e+02,1.638180e+03,4.073747e+01,-7.398207e+01,1.627446e+03,4.073730e+01,-7.398228e+01,2.933309e+04,1.979179e+03,1.173155e+00
std,7.861383e+03,1.461994e+03,3.037575e-02,1.868030e-02,1.460845e+03,3.016513e-02,1.873347e-02,6.423883e+03,1.219773e+01,4.807769e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.401713e+01,7.200000e+01,4.065540e+01,-7.404630e+01,1.452900e+04,1.857000e+03,0.000000e+00
25%,3.150000e+02,3.830000e+02,4.071871e+01,-7.399456e+01,3.820000e+02,4.071871e+01,-7.399468e+01,2.610000e+04,1.969000e+03,1.000000e+00
50%,5.220000e+02,5.090000e+02,4.073913e+01,-7.398484e+01,5.090000e+02,4.073913e+01,-7.398518e+01,3.118900e+04,1.982000e+03,1.000000e+00
75%,8.950000e+02,3.284000e+03,4.075725e+01,-7.397210e+01,3.283000e+03,4.075691e+01,-7.397283e+01,3.434700e+04,1.989000e+03,1.000000e+00
max,2.969781e+06,3.749000e+03,4.086600e+01,-7.388100e+01,3.749000e+03,4.086600e+01,-7.388100e+01,3.796400e+04,2.003000e+03,2.000000e+00

In [11]:
Q1_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [12]:
Q1_2019_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1327955,351,2019-03-31 23:59:30.5850,2019-04-01 00:05:21.7850,3747.0,E 84 St & 3 Ave,40.777554,-73.955128,3351.0,E 102 St & 1 Ave,40.786995,-73.941648,37290,Subscriber,1985,1
1327956,1943,2019-03-31 23:59:55.3410,2019-04-01 00:32:18.6920,450.0,W 49 St & 8 Ave,40.762272,-73.987882,515.0,W 43 St & 10 Ave,40.760094,-73.994618,34220,Subscriber,1987,1
1327957,515,2019-03-31 23:59:50.1810,2019-04-01 00:08:25.8330,3542.0,Amsterdam Ave & W 119 St,40.808625,-73.959621,3543.0,Morningside Dr & Amsterdam Ave,40.810285,-73.957365,37863,Subscriber,1988,1
1327958,660,2019-03-31 23:59:56.6520,2019-04-01 00:10:57.3760,3434.0,W 88 St & West End Ave,40.790254,-73.977183,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,36103,Subscriber,1987,1
1327959,132,2019-03-31 23:59:58.0230,2019-04-01 00:02:10.5920,393.0,E 5 St & Avenue C,40.722992,-73.979955,432.0,E 7 St & Avenue A,40.726218,-73.983799,35621,Subscriber,1973,1

In [13]:
Q1_2019_df.to_csv('./data/Q1_2019.csv')